@font-face {
    font-family: "Yeseva One Regular";
    src: local("Yeseva One Regular"),
    url("fonts/Yeseva_One/YesevaOne-Regular.woff2") format("woff2"),
    url("fonts/Yeseva_One/YesevaOne-Regular.woff") format("woff"),
    url("fonts/Yeseva_One/YesevaOne-Regular.ttf") format("ttf");
}



@font-face {
    font-family: "Nunito Sans";
    src: local("Nunito Sans"),
    url("fonts/Nunito_Sans/NunitoSans_10pt.woff2") format("woff2"),
    url("fonts/Nunito_Sans/NunitoSans_10pt.woff") format("woff"),
    url("fonts/Nunito_Sans/NunitoSans_10pt.ttf") format("ttf");
}

@font-face {
    font-family: "Nunito Sans Italic";
    src: local("Nunito Sans"),
    url("fonts/Nunito_Sans/NunitoSans_10pt-Italic.woff2") format("woff2"),
    url("fonts/Nunito_Sans/NunitoSans_10pt-Italic.woff") format("woff"),
    url("fonts/Nunito_Sans/NunitoSans_10pt-Italic.ttf") format("ttf");
}